@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #ffdfb5;
}

/* Style for the navigation bar */
.navbar {
  padding: 10px;
  /* Padding for spacing */
  /* Fixed position to keep navbar visible at the top */
  top: 0;
  /* Align to the top of the page */
  width: 100%;
  /* Full width */
  z-index: 10;
  /* Set background color */
  display: flex;
  /* Use Flexbox layout */
  justify-content: space-between;
  /* Space out child elements */
  align-items: center;
  /* Align items vertically */
}

.nav-link {
  margin-top: -130px;
  text-decoration: none;
  margin-bottom: -60px;
}

/* Styling for the links-container div */
.links-container {
  display: flex;
  /* Use Flexbox layout */
  flex-direction: column;
  /* Arrange links vertically */
  align-items: flex-end;
  /* Align links to the right side */
}

/* Styling for the logo */
.logo {
  margin-right: auto;
  /* Push the logo to the left side */
  font-weight: bold;
  /* Bold font */
  font-size: 1.2rem;
  /* Set font size */
  color: black;
  text-decoration: none;
  /* Set color */
}

/* Styling for links */
.links-container a {
  display: block;
  /* Display links as block elements */
  font-size: 1rem;
  /* Font size for links */
  color: black;
  /* Text color */
  text-decoration: none;
  /* Remove underline from links */
  padding: 5px 10px;
  /* Padding for spacing */
  transition: color 0.3s;
  /* Smooth transition for hover effect */
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 60px;
  margin-right: 15px;
  /* Space between links */
}

/* Hover effect for links in the links-container */
.links-container a:hover {
  color: #f39c12;
  /* Color change on hover */
}

.logo:hover {
  color: #f39c12;
}

h1 {
  font-size: 4rem;
}

.profileIMG {
  width: 350px;
  /* Adjust as needed for a larger size */
  height: 350px;
  /* Adjust as needed for a larger size */
  border-radius: 50%;
  /* Makes the image circular */
  object-fit: cover;
  /* Ensures the image covers the entire circle */

  /* Optional: Add a border around the image */
  border: 3px solid #ccc;
  /* Adjust the color and width as needed */

  /* Optional: Add a subtle shadow for depth */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  /* Adjust shadow as needed */
  position: absolute;
  left: 60%;
  top: 100px;
}

.profileDiv {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 58%;
  top: 130px;
  z-index: -2;
  background-color: rgb(32, 42, 38);
}

.typing-container {
  min-height: 60px; /* Set a fixed height that is consistent with the height of your text */
  white-space: nowrap; /* Prevent text from wrapping */
}

#hero {
  height: 72vh;
}
/* mainSection.css */
/* mainSection.css */
.mainSection {
  height: 100vh;

  .maskSection,
  .bodySection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 64px;
    line-height: 66px;
    cursor: default;
    z-index: 10;

    p {
      width: 1000px;
      padding: 20px;
    }
    span {
      color: #ec4e39;
    }
  }

  .maskSection {
    mask-image: url("../src/static/Images/Ellipse\ 2.svg");
    mask-repeat: no-repeat;
    mask-size: contain; /* Adjust mask size as needed */
    background: #ec4e39;
    position: absolute;
    color: black;
  }
}

.span_note {
  font-size: 3vw; /* Adjust font size as needed */
  color: #000000; /* Adjust color as needed */
  position: absolute;
  right: 10px; /* Align to the right side */
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.skill-text {
  font-size: 7vw;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 0;
  width: 100%;
  color: rgba(182, 182, 182, 0.2);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  border-bottom: 1px solid #2f2b28;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.skill-text span_skills {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4246ce;
  color: #0d0d0d;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-text:hover > span_skills {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.skill-link {
  text-decoration: none;
  color: inherit;
}
